{{ define "main" }}
<div class="container">
    <div class="section">
        <a href="/posts/" id="backto"><em>← Back to Documentation</em></a>
        <div class="content">
            <h1>Category: {{ .Title }}</h1>
            {{ range .Pages.ByPublishDate.Reverse }}
            <div id="list-blog" class="columns is-vcentered is-tablet is-centered">
                <div class="column is-centered is-4">
                  <a href="{{ .RelPermalink }}"><img src="{{ .Page.Params.image }}"></a>
                </div>
                <div class="column">
                    <h5><a href="{{ .RelPermalink }}">{{ .Title }}</a></h5>
                    <p>{{ .Page.Params.excerpt }}</p>
                </div>
          
          </div>
            {{ end }}
        </div>
        <div class="columns is-multiline">
            {{ range .Paginator.Pages }}
            {{ end }}
        </div>
        </div>
    </div>
</div>
{{ end }}