:root { 
    --primary-blue: #0C71C3;
    --second-grey: #424242;
}

body {margin:0;}



a {color: #0C71C3;}
a:hover {color: #424242; text-decoration: none;}

h1 {
    font-weight: 700;
}

ul li::before {
    content: "\2022";
    margin-right: 5px;
}

hr {
    background-color: grey;
    height: 1px;
    margin: 15px 0px;
}

#main-section {
    background-size: cover;
   background-image:
   linear-gradient(
    rgba(255, 255, 255, 0.45), 
    rgba(255, 255, 255, 0.65)
  ),
  url('/images/back-main-sectionv2.png');
  padding: 40px;
}

#sidebar {
    background-color: #e8e8e8;
    padding: 20px;
}

#nav-border {
    position: fixed;
    top: 0; /* Position the navbar at the top of the page */
    z-index: 99999;
    padding: 1rem;
    margin-bottom: 2rem;
    background-color: white;
}

#list-blog {
    margin-top: 1rem;
    padding: 1vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
}

#footer {
    color: white;
    margin-top: 2rem;
    padding: 1rem;
    background-color: #424242;
}

#thankyou {
    color: var(--primary-blue);
    text-align: center;
    font-weight: 700;
    margin: 4rem 0rem;
}
#backto {
    font-size: 12px;
}