{{ define "main" }}

<div class="container">

<div class="d-flex">
      <div class="row">
        <div class="col-3 is-hidden-mobile">
          {{ partial "sidebar.html" }}
        </div>
  

      <div class="col mr-2 h-50">
        <div class="content">
          <h1>{{ .Title }}</h1>
          <div class="container is-hidden-tablet" style="background-color: #e8e8e8; padding:10px">
          <p>Categories: {{range ($.Site.GetPage "category").Pages }}
          <a href="{{.Permalink}}">{{.Title}}</a> |
            {{end}}</p>
          </div>
          {{ $paginator := .Paginate (where .Pages "Type" "posts") }}
          {{ range $paginator.Pages }}
    {{ .Render "summary" }}
         {{ end }}
         
          </div>
        </div>
      </div>
</div>
</div>

<div class="has-text-right has-text-centered-mobile" style="margin-top:40px;">
            {{ partial "pagination.html" . }}
          </div>
<!--

{{ partial "sidebar.html" }}

<div class="columns is-multiline is-mobile is-centered">
  <div class="column is-one-third is-hidden-mobile">
    <div id="sidebar" class="container"><p>Categories: {{range ($.Site.GetPage "taxonomyTerm" "categories").Pages }}
        <ul><li><a href="{{.Permalink}}">{{.Title}}</a></li></ul>
        {{end}}</p></div></div>
    
  <div class="column">

      <div class="content">
        <h1>{{ .Title }}</h1>
        <div class="container is-hidden-tablet">
        <p>Categories: {{range ($.Site.GetPage "taxonomyTerm" "categories").Pages }}
        <a href="{{.Permalink}}">{{.Title}}</a> |
          {{end}}</p>
        </div>
        
        {{ range .Pages.ByPublishDate.Reverse }}

          <div id="list-blog" class="columns is-vcentered is-tablet is-centered">
              <div class="column is-centered is-4">
                <a href="{{ .RelPermalink }}"><img src="{{ .Page.Params.image }}"></a>
              </div>
              <div class="column">
                  <h5><a href="{{ .RelPermalink }}">{{ .Title }}</a></h5>
                  <p>{{ .Page.Params.excerpt }}</p>
              </div>
        
        </div>
        {{ end }}

      </div>


</div>
</div>
-->
{{ end }}