{{ define "main" }}
<section class="section">
<div id="backto">
<a href="/posts"><em>← back to blog</em></a>
</div>

<div id="blog-content" class="content">
    <h1>{{ .Title }}</h1>
    <em>{{ .Page.Date.Format "2 January 2006" }} {{ with .Page.Params.categories }} in <a href="{{ "categories/" | absURL }}{{ . | urlize }}">{{ . }}</a> {{ end }}</a></em>

    <div class="row text-center" style="margin: 2rem 0rem;">
    {{ with .Page.Params.image }}
            <div class="container-fluid" id="ArticleImage__Hero">
                <img src="{{ . }}" class="img-fluid">
            </div>
        {{ end }}
    </div>

    <div class="container" style="margin: 2rem 0rem;"></div>
    <div class="container-fluid">{{ .Content }}</div>
    

    <h3 id="thankyou">Thank you for reading.</h3>
</div>
</section>
{{ end }}